.carousel-inner{
  border-radius: 50px;
  width: 80%;
}
.carousel-item{
  border-radius: 50px;
  width: 80%;
}
.img-fluid{
  border-radius: 50px;
  width: 80%;
}
.icono {
    height: 100px;
    width: 100px;

      /*shape border*/
  
      opacity: 0.3;
      /*symbol */
    
     
     
 
}
.icono:hover{opacity: 1;}