.cardcita{
   border-radius: 100px;
    max-width: 300px;
    min-height: 300px;



}

.cardcitaImagen
{
    border-radius: 15px;
    max-width: 300px;
    min-height: 300px;
  
   opacity: .7;
  
  
}
.cardcitaImagen:hover{
    opacity: 1;
 
}

@keyframes colores
{
/*from{background: #9EB3C2;}
to{background:#21295C ;}*/
0%{min-height: 500px;}
25%{min-height: 520;}
50%{min-height: 530px;}
75%{min-height: 520;}
100%{min-height: 500;}
}

.centrar{
    display: flex;
    justify-content: center;
align-items: center;
}