.captionMenu
{
    text-align: center;
}

.titulo{text-align: center;}

td{text-align: center;}
th{text-align: center;}

.basurita{background: black;}

.table-responsive{
     background: #019851;
  
   
   
    }
